 <Worksheet ss:Name="quadro3.2D">
  <Table ss:ExpandedColumnCount="7" ss:ExpandedRowCount="14" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s54" ss:DefaultColumnWidth="60"
   ss:DefaultRowHeight="15">
   <Column ss:StyleID="s54" ss:AutoFitWidth="0" ss:Width="72.75"/>
   <Column ss:StyleID="s54" ss:AutoFitWidth="0" ss:Width="105"/>
   <Column ss:StyleID="s54" ss:AutoFitWidth="0" ss:Width="88.5"/>
   <Column ss:StyleID="s54" ss:Width="207"/>
   <Column ss:StyleID="s54" ss:AutoFitWidth="0" ss:Width="180.75"/>
   <Column ss:StyleID="s54" ss:AutoFitWidth="0" ss:Width="156.75"/>
   <Row ss:AutoFitHeight="0" ss:Height="50.25">
    <Cell ss:MergeAcross="5" ss:StyleID="m405610416"><Data ss:Type="String">QUADRO 3.2D - REDE DE SERVIÇOS DO SISTEMA ÚNICO DE SAÚDE PARA A COMPLEMENTARIEDADE DA ATENÇÃO BÁSICA, MÉDIA E  DE ALTA COMPLEXIDADE.  </Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="80.25">
    <Cell ss:StyleID="s156"><Data ss:Type="String">POLO BASE</Data></Cell>
    <Cell ss:StyleID="s157"><Data ss:Type="String">POPULAÇÃO</Data></Cell>
    <Cell ss:StyleID="s157"><Data ss:Type="String">MUNICÍPIO</Data></Cell>
    <Cell ss:StyleID="s157"><Data ss:Type="String">MUNICÍPIOS REFERÊNCIA</Data></Cell>
    <Cell ss:StyleID="s157"><Data ss:Type="String">Estabelecimentos de saúde (Complementariedade da Atenção Básica)</Data></Cell>
    <Cell ss:StyleID="s157"><Data ss:Type="String">Estabelecimentos de saúde (Atenção Especializada)</Data></Cell>
    <Cell ss:StyleID="s55"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="61.5" ss:StyleID="s151">
    <Cell ss:MergeDown="4" ss:StyleID="m405610436"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:MergeDown="4" ss:StyleID="m405610476"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B><Font html:Color="#16365C">671 (</Font><Font
        html:Color="#FF0000">pode ser fórumula calculada pela planilha 3.1C?</Font><Font
        html:Color="#333399">)</Font></B></ss:Data></Cell>
    <Cell ss:MergeDown="4" ss:StyleID="m405610456"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405610496"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s250"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s262"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s150"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30" ss:StyleID="s151">
    <Cell ss:Index="5" ss:StyleID="s250"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s263"><Data ss:Type="String">nonono, nonono, nonono, etc</Data></Cell>
    <Cell ss:StyleID="s150"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:Index="4" ss:MergeDown="1" ss:StyleID="m405610516"><Data
      ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s250"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s264"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:Index="5" ss:StyleID="s250"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s264"/>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:Index="4" ss:StyleID="s58"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s250"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s265"><Data ss:Type="String">nonono</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="138.75">
    <Cell ss:StyleID="s256"/>
    <Cell ss:StyleID="s257"/>
    <Cell ss:StyleID="s258"/>
    <Cell ss:StyleID="s259"/>
    <Cell ss:StyleID="s260"><Data ss:Type="String">listagem já vira com o CNES do estabelecimento</Data></Cell>
    <Cell ss:StyleID="s261"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s251"/>
    <Cell ss:StyleID="s252"/>
    <Cell ss:StyleID="s253"/>
    <Cell ss:StyleID="s254"/>
    <Cell ss:StyleID="s255"/>
    <Cell ss:StyleID="s255"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s154"/>
    <Cell ss:StyleID="s213"/>
    <Cell ss:StyleID="s152"/>
    <Cell ss:StyleID="s56"/>
    <Cell ss:StyleID="s57"/>
    <Cell ss:StyleID="s57"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s154"/>
    <Cell ss:StyleID="s213"/>
    <Cell ss:StyleID="s152"/>
    <Cell ss:StyleID="s56"/>
    <Cell ss:StyleID="s57"/>
    <Cell ss:StyleID="s57"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s154"/>
    <Cell ss:StyleID="s213"/>
    <Cell ss:StyleID="s152"/>
    <Cell ss:StyleID="s56"/>
    <Cell ss:StyleID="s57"/>
    <Cell ss:StyleID="s57"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="30">
    <Cell ss:StyleID="s155"/>
    <Cell ss:StyleID="s214"/>
    <Cell ss:StyleID="s153"/>
    <Cell ss:StyleID="s58"/>
    <Cell ss:StyleID="s59"/>
    <Cell ss:StyleID="s59"/>
   </Row>
   <Row>
    <Cell><Data ss:Type="String">roll</Data></Cell>
    <Cell><Data ss:Type="String">roll</Data></Cell>
    <Cell><Data ss:Type="String">roll</Data></Cell>
    <Cell><Data ss:Type="String">preenchimento manual</Data></Cell>
    <Cell><Data ss:Type="String">roll</Data></Cell>
    <Cell><Data ss:Type="String">roll</Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <PageMargins x:Bottom="0.984251969" x:Left="0.78740157499999996"
     x:Right="0.78740157499999996" x:Top="0.984251969"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <HorizontalResolution>-4</HorizontalResolution>
    <VerticalResolution>-4</VerticalResolution>
   </Print>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>19</ActiveRow>
     <ActiveCol>5</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
