 <Worksheet ss:Name="quadro3.2A">
  <Table ss:ExpandedColumnCount="38" ss:ExpandedRowCount="13" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s31" ss:DefaultColumnWidth="41.25"
   ss:DefaultRowHeight="15">
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="105"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="120"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="90.75"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="83.25" ss:Span="4"/>
   <Column ss:Index="9" ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="67.5"
    ss:Span="1"/>
   <Column ss:Index="11" ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="98.25"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="75"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="93" ss:Span="5"/>
   <Column ss:Index="19" ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="70.5"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="119.25"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="79.5"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="86.25" ss:Span="6"/>
   <Column ss:Index="29" ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="74.25"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="77.25"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="73.5" ss:Span="5"/>
   <Column ss:Index="37" ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="75"/>
   <Column ss:StyleID="s31" ss:AutoFitWidth="0" ss:Width="49.5"/>
   <Row ss:AutoFitHeight="0" ss:Height="40.5">
    <Cell ss:MergeAcross="37" ss:StyleID="m405612096"><Data ss:Type="String">QUADRO 3.2A – Meios de Transporte para ACESSO DOS POVOS INDÍGENAS AOS SERVIÇOS DE SAÚDE</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="51">
    <Cell ss:MergeDown="2" ss:StyleID="m405612276"><Data ss:Type="String">Aldeia de origem</Data></Cell>
    <Cell ss:MergeDown="2" ss:StyleID="m405612296"><Data ss:Type="String">Nome do Munícipio</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m405612136"><Data ss:Type="String">UBSI</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m405612156"><Data ss:Type="String">Polo Base</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="s269"><Data ss:Type="String">CASAI</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m405612196"><Data ss:Type="String">Média e Alta Complexidade</Data></Cell>
   </Row>
   <Row ss:Height="32.25">
    <Cell ss:Index="3" ss:MergeDown="1" ss:StyleID="m405605516"><Data
      ss:Type="String">Aldeia</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405612056"><Data ss:Type="String">&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="s585"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405612076"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s79"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s78"><Data ss:Type="String">Aldeia/&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="s585"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405612316"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s78"><Data ss:Type="String">Aldeia/&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="s585"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405605496"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s78"><Data ss:Type="String">Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="s585"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405612256"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
   </Row>
   <Row ss:Height="32.25">
    <Cell ss:Index="5" ss:StyleID="s278"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="12" ss:StyleID="s271"/>
    <Cell ss:StyleID="s270"/>
    <Cell ss:StyleID="s278"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="21" ss:StyleID="s269"/>
    <Cell ss:StyleID="s270"/>
    <Cell ss:StyleID="s278"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="30" ss:StyleID="s269"/>
    <Cell ss:StyleID="s270"/>
    <Cell ss:StyleID="s278"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s275"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Tempo (horas)</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="96.75">
    <Cell ss:StyleID="s277"/>
    <Cell ss:StyleID="s276"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"><Data ss:Type="String">escolher a partir de lista de tipo de motores</Data></Cell>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"><Data ss:Type="String">escolher a partir de lista</Data></Cell>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"><Data ss:Type="String">escolher a partir de lista </Data></Cell>
    <Cell ss:StyleID="s272"/>
    <Cell ss:StyleID="s83"/>
    <Cell ss:StyleID="s84"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s85"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s81"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s82"/>
    <Cell ss:StyleID="s85"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s87"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s273"/>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s89"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s87"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s273"/>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s89"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s87"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s273"/>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s89"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s87"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s273"/>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s89"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s86"/>
    <Cell ss:StyleID="s87"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s273"/>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s89"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s88"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s96"/>
    <Cell ss:StyleID="s90"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s98"/>
    <Cell ss:StyleID="s91"/>
    <Cell ss:StyleID="s92"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s274"/>
    <Cell ss:StyleID="s94"/>
    <Cell ss:StyleID="s99"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s95"/>
    <Cell ss:StyleID="s92"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s92"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s93"/>
    <Cell ss:StyleID="s95"/>
   </Row>
   <Row ss:Height="15.75"/>
   <Row ss:AutoFitHeight="0" ss:Height="54.75">
    <Cell ss:MergeAcross="37" ss:StyleID="m405612116"><Data ss:Type="String">Comentários:</Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.78749999999999998"/>
    <Footer x:Margin="0.78749999999999998"/>
    <PageMargins x:Bottom="1.0249999999999999" x:Left="0.78749999999999998"
     x:Right="0.78749999999999998" x:Top="1.0249999999999999"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>300</HorizontalResolution>
    <VerticalResolution>300</VerticalResolution>
   </Print>
   <PageBreakZoom>71</PageBreakZoom>
   <Panes>
    <Pane>
     <Number>3</Number>
     <RangeSelection>R1C1:R1C38</RangeSelection>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
   <EnableSelection>NoSelection</EnableSelection>
  </WorksheetOptions>
 </Worksheet>
