 <Worksheet ss:Name="quadro3.2A">
  <Table ss:ExpandedColumnCount="38" ss:ExpandedRowCount="13" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s67" ss:DefaultColumnWidth="41.25"
   ss:DefaultRowHeight="15">
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="105"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="120"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="90.75"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="83.25" ss:Span="4"/>
   <Column ss:Index="9" ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="67.5"
    ss:Span="1"/>
   <Column ss:Index="11" ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="98.25"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="75"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="93" ss:Span="5"/>
   <Column ss:Index="19" ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="70.5"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="119.25"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="79.5"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="86.25" ss:Span="6"/>
   <Column ss:Index="29" ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="74.25"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="77.25"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="73.5" ss:Span="5"/>
   <Column ss:Index="37" ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="75"/>
   <Column ss:StyleID="s67" ss:AutoFitWidth="0" ss:Width="49.5"/>
   <Row ss:AutoFitHeight="0" ss:Height="40.5">
    <Cell ss:MergeAcross="37" ss:StyleID="m339199688"><Data ss:Type="String">QUADRO 3.2A – Meios de Transporte para ACESSO DOS POVOS INDÍGENAS AOS SERVIÇOS DE SAÚDE</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="51">
    <Cell ss:MergeDown="2" ss:StyleID="m339199708"><Data ss:Type="String">Aldeia de origem</Data></Cell>
    <Cell ss:MergeDown="2" ss:StyleID="m339199728"><Data ss:Type="String">Nome do Munícipio</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m339199748"><Data ss:Type="String">UBSI</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m339199768"><Data ss:Type="String">Polo Base</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="s267"><Data ss:Type="String">CASAI</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m339199808"><Data ss:Type="String">Média e Alta Complexidade</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="32.25">
    <Cell ss:Index="3" ss:MergeDown="1" ss:StyleID="m339199828"><Data
      ss:Type="String">Aldeia</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m339199848"><Data ss:Type="String">&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="m339199868"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m339200104"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s276"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s277"><Data ss:Type="String">Aldeia/&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="m339200124"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m339200144"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s277"><Data ss:Type="String">Aldeia/&#10;Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="m339200164"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m339200184"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s279"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s277"><Data ss:Type="String">Município</Data></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="m339200204"><Data ss:Type="String">Meio de transporte</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m339198856"><Data ss:Type="String">Total tempo (horas)</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="32.25">
    <Cell ss:Index="5" ss:StyleID="s280"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s282"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="12" ss:StyleID="s283"/>
    <Cell ss:StyleID="s284"/>
    <Cell ss:StyleID="s280"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s282"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="21" ss:StyleID="s267"/>
    <Cell ss:StyleID="s284"/>
    <Cell ss:StyleID="s280"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s282"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:Index="30" ss:StyleID="s267"/>
    <Cell ss:StyleID="s284"/>
    <Cell ss:StyleID="s280"><Data ss:Type="String">Fluvial</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Rodoviário</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Tempo (horas)</Data></Cell>
    <Cell ss:StyleID="s281"><Data ss:Type="String">Aéreo</Data></Cell>
    <Cell ss:StyleID="s282"><Data ss:Type="String">Tempo (horas)</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="96.75">
    <Cell ss:StyleID="s285"/>
    <Cell ss:StyleID="s286"/>
    <Cell ss:StyleID="s287"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"><Data ss:Type="String">escolher a partir de lista de tipo de motores</Data></Cell>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"><Data ss:Type="String">escolher a partir de lista</Data></Cell>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"><Data ss:Type="String">escolher a partir de lista </Data></Cell>
    <Cell ss:StyleID="s289"/>
    <Cell ss:StyleID="s290"/>
    <Cell ss:StyleID="s291"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s292"/>
    <Cell ss:StyleID="s287"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s287"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s288"/>
    <Cell ss:StyleID="s292"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s293"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s293"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s293"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s293"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s293"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s296"/>
    <Cell ss:StyleID="s300"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="36.75">
    <Cell ss:StyleID="s301"/>
    <Cell ss:StyleID="s302"/>
    <Cell ss:StyleID="s303"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s305"/>
    <Cell ss:StyleID="s306"/>
    <Cell ss:StyleID="s307"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s308"/>
    <Cell ss:StyleID="s303"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s303"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s304"/>
    <Cell ss:StyleID="s308"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="15.75"/>
   <Row ss:AutoFitHeight="0" ss:Height="54.75">
    <Cell ss:MergeAcross="37" ss:StyleID="m339198876"><Data ss:Type="String">Comentários:</Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.78749999999999998"/>
    <Footer x:Margin="0.78749999999999998"/>
    <PageMargins x:Bottom="1.0249999999999999" x:Left="0.78749999999999998"
     x:Right="0.78749999999999998" x:Top="1.0249999999999999"/>
   </PageSetup>
   <Unsynced/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>300</HorizontalResolution>
    <VerticalResolution>300</VerticalResolution>
   </Print>
   <PageBreakZoom>71</PageBreakZoom>
   <Panes>
    <Pane>
     <Number>3</Number>
     <RangeSelection>R1C1:R1C38</RangeSelection>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
   <EnableSelection>NoSelection</EnableSelection>
  </WorksheetOptions>
 </Worksheet>

