 <Worksheet ss:Name="quadro3.2C">
  <Table ss:ExpandedColumnCount="15" ss:ExpandedRowCount="13" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s23" ss:DefaultColumnWidth="60"
   ss:DefaultRowHeight="15">
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="77.25"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="126.75" ss:Span="1"/>
   <Column ss:Index="4" ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="122.25"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="42"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="84.75"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="36"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="87.75"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="48"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="73.5"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="103.5"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="96"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="84.75"/>
   <Column ss:StyleID="s23" ss:AutoFitWidth="0" ss:Width="107.25"/>
   <Row ss:AutoFitHeight="0" ss:Height="40.5">
    <Cell ss:MergeAcross="14" ss:StyleID="m405607484"><Data ss:Type="String">QUADRO 3.2C– CAPACIDADE INSTALADA E OFERTA DE AÇÕES PROGRAMADAS (recursos humanos atualmente vinculados ao trabalho das EMSI no distrito)</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="33">
    <Cell ss:MergeDown="1" ss:StyleID="m405607504"><Data ss:Type="String">Pólo-Base</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405607524"><Data ss:Type="String">EMSI</Data></Cell>
    <Cell ss:MergeAcross="6" ss:StyleID="m405607544"><Data ss:Type="String">Nº de Profissionais</Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405607564"><Data ss:Type="String">Aldeias Atendidas</Data></Cell>
    <Cell ss:MergeAcross="4" ss:StyleID="m405607584"><Data ss:Type="String">Tempo de permanência em aldeia (dias por mês)</Data></Cell>
   </Row>
   <Row ss:Height="32.25">
    <Cell ss:Index="3" ss:StyleID="s60"><Data ss:Type="String">Méd.</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">Enf.</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">Odon</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">Téc./AuxEnfermagem</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">ASB</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">AIS</Data></Cell>
    <Cell ss:StyleID="s61"><Data ss:Type="String">AISAN</Data></Cell>
    <Cell ss:Index="11" ss:StyleID="s76"><Data ss:Type="String">Méd.</Data></Cell>
    <Cell ss:StyleID="s77"><Data ss:Type="String">Enf.</Data></Cell>
    <Cell ss:StyleID="s77"><Data ss:Type="String">Odon</Data></Cell>
    <Cell ss:StyleID="s77"><Data ss:Type="String">Téc./AuxEnfermagem</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="String">ASB</Data></Cell>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:MergeDown="1" ss:StyleID="m405607604"><Data ss:Type="String">Pólo-Base 1</Data></Cell>
    <Cell ss:StyleID="s29"><Data ss:Type="String">EMSI 1.1</Data></Cell>
    <Cell ss:StyleID="s64"><Data ss:Type="Number">1</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">12</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">3</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">12</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">21</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">23</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">24</Data></Cell>
    <Cell ss:StyleID="s108"><Data ss:Type="Number">6</Data></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number">12</Data></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number">16</Data></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number">12</Data></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number">20</Data></Cell>
    <Cell ss:StyleID="s65"><Data ss:Type="Number">3</Data></Cell>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:Index="2" ss:StyleID="s30"><Data ss:Type="String">EMSI 1.2</Data></Cell>
    <Cell ss:StyleID="s67"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s101"/>
    <Cell ss:StyleID="s109"/>
    <Cell ss:StyleID="s105"/>
    <Cell ss:StyleID="s69"/>
    <Cell ss:StyleID="s69"/>
    <Cell ss:StyleID="s114"/>
    <Cell ss:StyleID="s68"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:MergeDown="1" ss:StyleID="m405607624"><Data ss:Type="String">Pólo-Base 2</Data></Cell>
    <Cell ss:StyleID="s29"><Data ss:Type="String">EMSI 2.1</Data></Cell>
    <Cell ss:StyleID="s64"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s100"/>
    <Cell ss:StyleID="s108"/>
    <Cell ss:StyleID="s104"/>
    <Cell ss:StyleID="s66"/>
    <Cell ss:StyleID="s66"/>
    <Cell ss:StyleID="s113"/>
    <Cell ss:StyleID="s65"/>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:Index="2" ss:StyleID="s62"><Data ss:Type="String">EMSI 2.2</Data></Cell>
    <Cell ss:StyleID="s70"/>
    <Cell ss:StyleID="s71"/>
    <Cell ss:StyleID="s71"/>
    <Cell ss:StyleID="s71"/>
    <Cell ss:StyleID="s71"/>
    <Cell ss:StyleID="s71"/>
    <Cell ss:StyleID="s102"/>
    <Cell ss:StyleID="s110"/>
    <Cell ss:StyleID="s106"/>
    <Cell ss:StyleID="s72"/>
    <Cell ss:StyleID="s72"/>
    <Cell ss:StyleID="s115"/>
    <Cell ss:StyleID="s71"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:MergeDown="1" ss:StyleID="m405607644"><Data ss:Type="String">Pólo-Base 3</Data></Cell>
    <Cell ss:StyleID="s63"><Data ss:Type="String">EMSI 3.1</Data></Cell>
    <Cell ss:StyleID="s73"/>
    <Cell ss:StyleID="s74"/>
    <Cell ss:StyleID="s74"/>
    <Cell ss:StyleID="s74"/>
    <Cell ss:StyleID="s74"/>
    <Cell ss:StyleID="s74"/>
    <Cell ss:StyleID="s103"/>
    <Cell ss:StyleID="s111"/>
    <Cell ss:StyleID="s107"/>
    <Cell ss:StyleID="s75"/>
    <Cell ss:StyleID="s75"/>
    <Cell ss:StyleID="s116"/>
    <Cell ss:StyleID="s74"/>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:Index="2" ss:StyleID="s30"><Data ss:Type="String">EMSI 3.2</Data></Cell>
    <Cell ss:StyleID="s67"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s68"/>
    <Cell ss:StyleID="s101"/>
    <Cell ss:StyleID="s109"/>
    <Cell ss:StyleID="s105"/>
    <Cell ss:StyleID="s69"/>
    <Cell ss:StyleID="s69"/>
    <Cell ss:StyleID="s114"/>
    <Cell ss:StyleID="s68"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:MergeDown="1" ss:StyleID="m405607464"><Data ss:Type="String">Pólo-Base 4</Data></Cell>
    <Cell ss:StyleID="s29"><Data ss:Type="String">EMSI 4.1</Data></Cell>
    <Cell ss:StyleID="s64"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s65"/>
    <Cell ss:StyleID="s100"/>
    <Cell ss:StyleID="s108"/>
    <Cell ss:StyleID="s104"/>
    <Cell ss:StyleID="s66"/>
    <Cell ss:StyleID="s66"/>
    <Cell ss:StyleID="s113"/>
    <Cell ss:StyleID="s65"/>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:Index="2" ss:StyleID="s117"><Data ss:Type="String">EMSI 4.2</Data></Cell>
    <Cell ss:StyleID="s118"/>
    <Cell ss:StyleID="s119"/>
    <Cell ss:StyleID="s119"/>
    <Cell ss:StyleID="s119"/>
    <Cell ss:StyleID="s119"/>
    <Cell ss:StyleID="s119"/>
    <Cell ss:StyleID="s120"/>
    <Cell ss:StyleID="s112"/>
    <Cell ss:StyleID="s121"/>
    <Cell ss:StyleID="s122"/>
    <Cell ss:StyleID="s122"/>
    <Cell ss:StyleID="s123"/>
    <Cell ss:StyleID="s119"/>
   </Row>
   <Row ss:Index="13" ss:AutoFitHeight="0" ss:Height="16.5"/>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.78749999999999998"/>
    <Footer x:Margin="0.78749999999999998"/>
    <PageMargins x:Bottom="1.0249999999999999" x:Left="0.78749999999999998"
     x:Right="0.78749999999999998" x:Top="1.0249999999999999"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>300</HorizontalResolution>
    <VerticalResolution>300</VerticalResolution>
   </Print>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>14</ActiveRow>
     <ActiveCol>13</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
   <EnableSelection>NoSelection</EnableSelection>
  </WorksheetOptions>
 </Worksheet>
