 <Worksheet ss:Name="quadro3.2G">
  <Table ss:ExpandedColumnCount="6" ss:ExpandedRowCount="2" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s212">
   <Column ss:Index="2" ss:StyleID="s212" ss:AutoFitWidth="0" ss:Width="81"/>
   <Column ss:Index="4" ss:StyleID="s212" ss:AutoFitWidth="0" ss:Width="99.75"
    ss:Span="1"/>
   <Column ss:Index="6" ss:StyleID="s212" ss:AutoFitWidth="0" ss:Width="90.75"/>
   <Row ss:AutoFitHeight="0" ss:Height="33">
    <Cell ss:Index="2" ss:MergeAcross="2" ss:StyleID="m405591120"><Data
      ss:Type="String">QUADRO 3.2 G: INFRAESTRUTURA DE SAÚDE ­ CAPAIS</Data></Cell>
   </Row>
   <Row ss:Height="32.25">
    <Cell ss:StyleID="s266"><Data ss:Type="String">Nome</Data></Cell>
    <Cell ss:StyleID="s266"><Data ss:Type="String">Município</Data></Cell>
    <Cell ss:StyleID="s266"><Data ss:Type="String">UF</Data></Cell>
    <Cell ss:StyleID="s266"><Data ss:Type="String">Tipo de CAPAI</Data></Cell>
    <Cell ss:StyleID="s266"><Data ss:Type="String">Aldeias Vinculadas</Data></Cell>
    <Cell ss:StyleID="s266"><Data ss:Type="String">Capacidade de hospedagem</Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.31496062000000002"/>
    <Footer x:Margin="0.31496062000000002"/>
    <PageMargins x:Bottom="0.78740157499999996" x:Left="0.511811024"
     x:Right="0.511811024" x:Top="0.78740157499999996"/>
   </PageSetup>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>49</ActiveRow>
     <ActiveCol>3</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>

