 <Worksheet ss:Name="quadro3.2F">
  <Table ss:ExpandedColumnCount="16" ss:ExpandedRowCount="15" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="46.5">
   <Column ss:AutoFitWidth="0" ss:Width="78.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="79.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="42.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="60"/>
   <Column ss:AutoFitWidth="0" ss:Width="106.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="96"/>
   <Column ss:AutoFitWidth="0" ss:Width="69"/>
   <Column ss:AutoFitWidth="0" ss:Width="72.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="67.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="99"/>
   <Column ss:AutoFitWidth="0" ss:Width="93"/>
   <Column ss:AutoFitWidth="0" ss:Width="52.5"/>
   <Column ss:Index="14" ss:AutoFitWidth="0" ss:Width="48.75"/>
   <Column ss:AutoFitWidth="0" ss:Width="42"/>
   <Column ss:Width="58.5"/>
   <Row ss:Height="15.75">
    <Cell ss:MergeAcross="15" ss:StyleID="s646"><Data ss:Type="String">QUADRO 3.2F– INFRAESTRUTURA DE SAÚDE ­ SANEAMENTO  </Data></Cell>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:MergeAcross="15" ss:StyleID="s648"><Data ss:Type="String">REDE EXISTENTE</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="79.5">
    <Cell ss:MergeAcross="3" ss:StyleID="m405589828"><Data ss:Type="String">IDENTIFICAÇÃO</Data></Cell>
    <Cell ss:MergeAcross="8" ss:StyleID="m405605864"><Data ss:Type="String">ABASTECIMENTO DE ÁGUA</Data></Cell>
    <Cell ss:MergeAcross="1" ss:StyleID="m405605884"><Data ss:Type="String">MSD  </Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m405605904"><Data ss:Type="String">ESGOTAMENTO SANITÁRIO</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="159">
    <Cell ss:StyleID="s146"><Data ss:Type="String">Polo base (território)</Data></Cell>
    <Cell ss:StyleID="s145"><Data ss:Type="String">Município</Data></Cell>
    <Cell ss:StyleID="s145"><Data ss:Type="String">UF</Data></Cell>
    <Cell ss:StyleID="s196"><Data ss:Type="String">Aldeia</Data></Cell>
    <Cell ss:StyleID="s179"><Data ss:Type="String">Aldeia com abastecimento de água</Data></Cell>
    <Cell ss:StyleID="s180"><Data ss:Type="String">Abastecimento de água alternativo</Data></Cell>
    <Cell ss:StyleID="s147"><Data ss:Type="String">SAA completo</Data></Cell>
    <Cell ss:StyleID="s147"><Data ss:Type="String">Nome do SAA que atende a aldeia</Data></Cell>
    <Cell ss:StyleID="s145"><Data ss:Type="String">Tipo de captação de água</Data></Cell>
    <Cell ss:StyleID="s181"><Data ss:Type="String">Fornecimento de água por concessionária </Data></Cell>
    <Cell ss:StyleID="s182"><Data ss:Type="String">Tipo de tratamento de água </Data></Cell>
    <Cell ss:StyleID="s147"><Data ss:Type="String">Abastecimento com MQA</Data></Cell>
    <Cell ss:StyleID="s148"><Data ss:Type="String">SAA com manutenção</Data></Cell>
    <Cell ss:StyleID="s197"><Data ss:Type="String">Qte de msd individuais</Data></Cell>
    <Cell ss:StyleID="s161"><Data ss:Type="String"> Qte de msd coletivas</Data></Cell>
   </Row>
   <Row ss:Height="63">
    <Cell ss:StyleID="s205"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s206"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s206"><Data ss:Type="String">PE</Data></Cell>
    <Cell ss:StyleID="s206"><Data ss:Type="String">nonono</Data></Cell>
    <Cell ss:StyleID="s127"><Data ss:Type="String">x</Data></Cell>
    <Cell ss:StyleID="s198"><Data ss:Type="String">x</Data></Cell>
    <Cell ss:StyleID="s194"/>
    <Cell ss:StyleID="s134"/>
    <Cell ss:StyleID="s166"><Data ss:Type="String">Superficial</Data></Cell>
    <Cell ss:StyleID="s24"/>
    <Cell ss:StyleID="s168"><Data ss:Type="String">dosador de cloro</Data></Cell>
    <Cell ss:StyleID="s193"/>
    <Cell ss:StyleID="s163"/>
    <Cell ss:StyleID="s141"><Data ss:Type="String">travar para número</Data></Cell>
    <Cell ss:StyleID="s141"><Data ss:Type="String">travar para número</Data></Cell>
    <Cell ss:StyleID="s199"/>
   </Row>
   <Row ss:Height="15.75">
    <Cell ss:StyleID="s208"/>
    <Cell ss:StyleID="s209"/>
    <Cell ss:StyleID="s209"/>
    <Cell ss:StyleID="s171"/>
    <Cell ss:StyleID="s164"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s195"/>
    <Cell ss:StyleID="s172"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s186"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s191"/>
    <Cell ss:StyleID="s164"/>
    <Cell ss:StyleID="s136"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s207"/>
    <Cell ss:StyleID="s127"/>
    <Cell ss:StyleID="s127"/>
    <Cell ss:StyleID="s127"/>
    <Cell ss:StyleID="s127"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s194"/>
    <Cell ss:StyleID="s173"/>
    <Cell ss:StyleID="s166"/>
    <Cell ss:StyleID="s24"/>
    <Cell ss:StyleID="s168"/>
    <Cell ss:StyleID="s191"/>
    <Cell ss:StyleID="s183"/>
    <Cell ss:StyleID="s136"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s135"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s170"/>
    <Cell ss:StyleID="s174"/>
    <Cell ss:StyleID="s165"/>
    <Cell ss:StyleID="s187"/>
    <Cell ss:StyleID="s165"/>
    <Cell ss:StyleID="s191"/>
    <Cell ss:StyleID="s170"/>
    <Cell ss:StyleID="s162"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s135"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s167"/>
    <Cell ss:StyleID="s175"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s186"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s192"/>
    <Cell ss:StyleID="s167"/>
    <Cell ss:StyleID="s162"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s135"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s184"/>
    <Cell ss:StyleID="s176"/>
    <Cell ss:StyleID="s166"/>
    <Cell ss:StyleID="s188"/>
    <Cell ss:StyleID="s168"/>
    <Cell ss:StyleID="s193"/>
    <Cell ss:StyleID="s184"/>
    <Cell ss:StyleID="s162"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s135"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s194"/>
    <Cell ss:StyleID="s173"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s24"/>
    <Cell ss:StyleID="s166"/>
    <Cell ss:StyleID="s192"/>
    <Cell ss:StyleID="s163"/>
    <Cell ss:StyleID="s136"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s135"/>
    <Cell ss:StyleID="s211"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s177"/>
    <Cell ss:StyleID="s167"/>
    <Cell ss:StyleID="s175"/>
    <Cell ss:StyleID="s168"/>
    <Cell ss:StyleID="s186"/>
    <Cell ss:StyleID="s169"/>
    <Cell ss:StyleID="s193"/>
    <Cell ss:StyleID="s164"/>
    <Cell ss:StyleID="s136"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s137"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="24.75">
    <Cell ss:StyleID="s142"/>
    <Cell ss:StyleID="s210"/>
    <Cell ss:StyleID="s133"/>
    <Cell ss:StyleID="s133"/>
    <Cell ss:StyleID="s133"/>
    <Cell ss:StyleID="s178"/>
    <Cell ss:StyleID="s200"/>
    <Cell ss:StyleID="s201"/>
    <Cell ss:StyleID="s202"/>
    <Cell ss:StyleID="s203"/>
    <Cell ss:StyleID="s202"/>
    <Cell ss:StyleID="s204"/>
    <Cell ss:StyleID="s185"/>
    <Cell ss:StyleID="s143"/>
    <Cell ss:StyleID="s133"/>
    <Cell ss:StyleID="s144"/>
   </Row>
   <Row ss:Height="16.5">
    <Cell ss:MergeAcross="2" ss:StyleID="m405589808"><Data ss:Type="String">TOTAL</Data></Cell>
    <Cell ss:StyleID="s149" ss:Formula="=COUNTA(R[-9]C:R[-1]C)"><Data
      ss:Type="Number">1</Data></Cell>
    <Cell ss:StyleID="s149"/>
    <Cell ss:StyleID="s138" ss:Formula="=COUNTA(R[-9]C:R[-1]C)"><Data
      ss:Type="Number">1</Data></Cell>
    <Cell ss:StyleID="s138" ss:Formula="=COUNTA(R[-9]C:R[-1]C)"><Data
      ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s139"/>
    <Cell ss:StyleID="s139"/>
    <Cell ss:StyleID="s189"/>
    <Cell ss:StyleID="s189"/>
    <Cell ss:StyleID="s190" ss:Formula="=COUNTA(R[-9]C[-1]:R[-1]C[-1])"><Data
      ss:Type="Number">1</Data></Cell>
    <Cell ss:StyleID="s139" ss:Formula="=COUNTA(R[-9]C:R[-1]C)"><Data
      ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s139" ss:Formula="=SUM(R[-9]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s139" ss:Formula="=SUM(R[-9]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s140" ss:Formula="=COUNTA(R[-9]C:R[-1]C)"><Data
      ss:Type="Number">0</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="20.25"/>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.31496062000000002"/>
    <Footer x:Margin="0.31496062000000002"/>
    <PageMargins x:Bottom="0.78740157499999996" x:Left="0.511811024"
     x:Right="0.511811024" x:Top="0.78740157499999996"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>600</HorizontalResolution>
    <VerticalResolution>600</VerticalResolution>
   </Print>
   <Zoom>93</Zoom>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>23</ActiveRow>
     <ActiveCol>9</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R5C9:R13C9</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;Subterrânea, Superficial&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R5C11:R13C11</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;ETA completo, dosador de cloro, dessalinizador, cloreto de sódio, outros&quot;</Value>
  </DataValidation>
 </Worksheet>

