 <Worksheet ss:Name="quadro3.2E">
  <Table ss:ExpandedColumnCount="8" ss:ExpandedRowCount="17" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s124" ss:DefaultColumnWidth="59.25"
   ss:DefaultRowHeight="15.75">
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="117.75"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="141"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="39"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="62.25"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="65.25"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="69"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="73.5"/>
   <Column ss:StyleID="s124" ss:AutoFitWidth="0" ss:Width="111"/>
   <Row ss:AutoFitHeight="0" ss:Height="24">
    <Cell ss:MergeAcross="7" ss:StyleID="m405611748"><Data ss:Type="String">QUADRO 3.2E – INFRAESTRUTURA DE SAÚDE ­ EDIFICAÇÕES</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="17.0625">
    <Cell ss:MergeDown="1" ss:StyleID="m405611768"><Data ss:Type="String">TIPO DE ESTABELECIMENTO</Data></Cell>
    <Cell ss:StyleID="s158"/>
    <Cell ss:MergeAcross="5" ss:StyleID="m405611788"><Data ss:Type="String">REDE EXISTENTE</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="50.25">
    <Cell ss:Index="2" ss:StyleID="s160"><Data ss:Type="String">Nome do estabelecimento de saúde</Data></Cell>
    <Cell ss:StyleID="s159"><Data ss:Type="String">UF</Data></Cell>
    <Cell ss:StyleID="s125"><Data ss:Type="String">Município</Data></Cell>
    <Cell ss:StyleID="s125"><Data ss:Type="String">Aldeia</Data></Cell>
    <Cell ss:StyleID="s125"><Data ss:Type="String"> CNES No. ( C)</Data></Cell>
    <Cell ss:StyleID="s125"><Data ss:Type="String">Situação do imóvel (c)</Data></Cell>
    <Cell ss:StyleID="s126"><Data ss:Type="String">Situação do terreno (d)</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="60">
    <Cell ss:StyleID="s307"><Data ss:Type="String">Sede do DSEI</Data></Cell>
    <Cell ss:StyleID="s258"/>
    <Cell ss:StyleID="s290"><Data ss:Type="String">UF</Data></Cell>
    <Cell ss:StyleID="s291"><Data ss:Type="String">nononono</Data></Cell>
    <Cell ss:StyleID="s291"><Data ss:Type="String">trancar célula para linha 4</Data></Cell>
    <Cell ss:StyleID="s291"><Data ss:Type="Number">24535</Data></Cell>
    <Cell ss:StyleID="s292"><Data ss:Type="String">CEDIDO</Data></Cell>
    <Cell ss:StyleID="s293"><Data ss:Type="String">não regularizado</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:MergeDown="1" ss:StyleID="m405611808"><Data ss:Type="String">Casa de Saúde Indígena</Data></Cell>
    <Cell ss:StyleID="s303"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s141"/>
    <Cell ss:StyleID="s296"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:Index="2" ss:StyleID="s304"/>
    <Cell ss:StyleID="s129"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s132"/>
    <Cell ss:StyleID="s128"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:StyleID="s308"><Data ss:Type="String">Total CASAI</Data></Cell>
    <Cell ss:StyleID="s305"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s302"/>
    <Cell ss:StyleID="s301"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="51.75">
    <Cell ss:MergeDown="1" ss:StyleID="m405611828"><Data ss:Type="String">Sede de Polo base tipo 1 (Assistencial e Administrativo) (a)</Data></Cell>
    <Cell ss:StyleID="s306"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s141"/>
    <Cell ss:StyleID="s296"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="51.75">
    <Cell ss:Index="2" ss:StyleID="s304"/>
    <Cell ss:StyleID="s129"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s128"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="45">
    <Cell ss:StyleID="s308"><Data ss:Type="String">Total de sede de Polo Base tipo 1</Data></Cell>
    <Cell ss:StyleID="s305"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s298"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s301"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:MergeDown="1" ss:StyleID="m405611848"><Data ss:Type="String">Sede de Polo Base tipo 2 (Administrativo) (a)</Data></Cell>
    <Cell ss:StyleID="s306"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s141"/>
    <Cell ss:StyleID="s296"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:Index="2" ss:StyleID="s304"/>
    <Cell ss:StyleID="s129"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s128"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:StyleID="s308"><Data ss:Type="String">Total da sede do Polo Base tipo 2</Data></Cell>
    <Cell ss:StyleID="s305"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s301"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:MergeDown="1" ss:StyleID="m405611728"><Data ss:Type="String">UBSI  (a)(b)</Data></Cell>
    <Cell ss:StyleID="s306"/>
    <Cell ss:StyleID="s294"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s295"/>
    <Cell ss:StyleID="s141"/>
    <Cell ss:StyleID="s296"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:Index="2" ss:StyleID="s304"/>
    <Cell ss:StyleID="s129"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s130"/>
    <Cell ss:StyleID="s131"/>
    <Cell ss:StyleID="s128"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="31.5">
    <Cell ss:StyleID="s309"><Data ss:Type="String">Total UBSI</Data></Cell>
    <Cell ss:StyleID="s305"/>
    <Cell ss:StyleID="s297"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s299"/>
    <Cell ss:StyleID="s300"/>
    <Cell ss:StyleID="s310"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="35.25"/>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
    <Header x:Margin="0.78749999999999998"/>
    <Footer x:Margin="0.78749999999999998"/>
    <PageMargins x:Bottom="1.0249999999999999" x:Left="0.78749999999999998"
     x:Right="0.78749999999999998" x:Top="1.0249999999999999"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <HorizontalResolution>300</HorizontalResolution>
    <VerticalResolution>300</VerticalResolution>
   </Print>
   <PageBreakZoom>93</PageBreakZoom>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>16</ActiveRow>
     <ActiveCol>9</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
   <EnableSelection>NoSelection</EnableSelection>
  </WorksheetOptions>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C7:R5C7</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;PRÓPRIO,ALUGADO,CEDIDO&quot;</Value>
  </DataValidation>
  <DataValidation xmlns="urn:schemas-microsoft-com:office:excel">
   <Range>R4C8:R15C8</Range>
   <Type>List</Type>
   <CellRangeList/>
   <Value>&quot;regularizado, não regularizado, em regularização&quot;</Value>
  </DataValidation>
 </Worksheet>

