= hidden_field_tag 'section', params[:section]
= hidden_field_tag 'base_polo', @base_polo.id if @base_polo
= hidden_field_tag 'subsection', params[:subsection] if params[:subsection]
= hidden_field_tag 'casai', @casai.id if @casai
= hidden_field_tag 'tab', @tab if @tab