h1.page-title
  = icon 'edit'
  = breadcrumbs [{ name: 'ESTRUTURA E CONTEÚDO | PDSI', path: nil }, { name: section_name(@section), path: pdsis_path(section: @section_url) }]


= render "pdsis/sections/#{@section}"
