= link_to 'Investimento', edit_budget_projection_path(@pdsi, subsection: 'investimento'), class: "vertical-tab#{@subsection == 'investimento' ? ' is-active': ''}"
= link_to 'Custeio',       edit_budget_projection_path(@pdsi, subsection: 'custeio'), class: "vertical-tab#{@subsection == 'custeio' ? ' is-active' : ''}"
