= link_to 'Investimento', edit_budget_projection_path(@pdsi, subsection: 'investimento'), class: "vertical-tab#{@subsection == 'investimento' ? ' is-active': ''}"
= link_to 'Custos',       edit_budget_projection_path(@pdsi, subsection: 'custos'), class: "vertical-tab#{@subsection == 'custos' ? ' is-active' : ''}"
