.field
  = f.label :processo_construcao_pdsi_2
  label DICA: Utilize a tag [PARAGRAFO_DSEI] para substituição por valores dinâmicos.
  = f.text_area :processo_construcao_pdsi_2, { class: 'basic-editable' }
