h2 = DadoDemografico.human_attribute_name 'extensao_territorial'
p = @dado_demografico.extensao_territorial || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'municipio_sede'
p = @dado_demografico.municipio_sede || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'endereco'
p = @dado_demografico.endereco || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'email'
p = @dado_demografico.email || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_municipios'
p = @dado_demografico.numero_municipios || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'populacao_indigena'
p = @dado_demografico.populacao_indigena || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'etnias'
p = @dado_demografico.etnias || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_polos_base'
p = @dado_demografico.numero_polos_base || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_ubsi'
p = @dado_demografico.numero_ubsi || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_regioes_de_saude'
p = @dado_demografico.numero_regioes_de_saude || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_casais'
p = @dado_demografico.numero_casais || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_aldeias'
p = @dado_demografico.numero_aldeias || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'numero_familias'
p = @dado_demografico.numero_familias || 'Não informado'

h2 = DadoDemografico.human_attribute_name 'meios_de_transporte'
p = @dado_demografico.meios_de_transporte || 'Não informado'
