h1 1. Introdução
== @pdsi.introducao_1 || 'Não informado'
.alwaysbreak
blockquote Figura 1. Princípios para a Formulação do Plano Distrital de Saúde Indígena
== @pdf_atribute == 'screen' ? image_tag('Figura_1.png') : wicked_pdf_image_tag('Figura_1.png')
