h1 4. Análise situacional
p == @pdsi.compose_item_4
/p == @pdsi.analise_situacional_4
h2 4.1 Balanço do PDSI 2012-2015
p "Não informado"


h2 4.2 Indicadores da Saúde Indígena do DSEI
p "Não informado"

h2 4.3 Principais desafios para o período de 2016-2019
p "Não informado"

/== @pdsi.compose_item_3 || 'Não informado'
/.alwaysbreak
/h3 3.1.2 Mapa do território
/blockquote Figura 3. Mapa dos limites e aspectos geográficos, sede e pólos-base do DSEI