h1 2. O Processo de construção do PDSI
== @pdsi.compose_item_2 || 'Não informado'
.alwaysbreak
blockquote Figura 2. Fluxo de Elaboração dos Planos Distritais de Sa&uacute;de Ind&iacute;gena
== @pdf_atribute == 'screen' ? image_tag('Figura_2.png') : wicked_pdf_image_tag('Figura_2.png')
.alwaysbreak
blockquote Figura 2. Fluxo de Elaboração dos Planos Distritais de Sa&uacute;de Ind&iacute;gena (continua&ccedil;&atilde;o)
== @pdf_atribute == 'screen' ? image_tag('Figura_2_continuacao.png') : wicked_pdf_image_tag('Figura_2_continuacao.png')
