- content_for :breadcrumb do
  = breadcrumbs [{ name: 'Pessoas do DSEI', path: sesai_people_path }, { name: 'Editar pessoa', path: nil }]

= form_for @person, url: { controller: 'sesai_people', action: 'update' } do |f|
  == render 'form', f: f
