$gray: #999;
$blue: #66C;

.carousel-nav {
  @include margin(0);
  @include position(relative);

  .carousel-arrows {
    @include position(absolute, 0 0 null null);
    @include size(100% null);

    a {
      line-height: 1em;

      &.pull-left {
        @include margin(null null null -10px);
      }
      &.pull-right {
        @include margin(null -10px null null);
      }
    }
  }

  .slider {
    @include clearfix;
    @include position(relative);
    @include transition(all 1.0s ease-in-out);

    width: 2000em;
    margin: 0 6px 10px;
    font-size: 18px;
  }

  .carousel-list,
  .carousel-items {
    overflow    : hidden;
    white-space : nowrap;
    width       : 100%;
  }

  .carousel-list {
    a {
      @include margin(null 10px null null);

      border-bottom : 2px solid transparent;
      color         : $gray;
      float         : left;
      font-size     : modular-scale(-1);
      padding: 0 4px;

      &.is-active {
        border-bottom : 2px solid;
        color         : $blue;
        &.resultado1 {
			border-color          : #EE857F ;
			
		
		}
	    &.resultado2 {
			border-color          : #51c6d6 ;
		
	    }
	    &.resultado3 {
			border-color          : #7fa2d5;
		
	    }
	    &.resultado4 {
			border-color          : #f2738d;
		
	    }
	    &.resultado5 {
			border-color          : #f2738d;
		
	    }
	    &.resultado6 {
			border-color          : #f2738d;
		
	    }
	    &.resultado7 {
			border-color          : #f59656;
		
	    }
	    &.resultado8 {
			border-color          : #8a88c2;
		
	    }
	    &.resultado9 {
			border-color          : #cecf57;
		
	    }
      }

      &:last-child {
        @include margin(0);
      }
      &.resultado1 {
		color          : #EE857F ;
		background: src('../images/resultados_1.png') no-repeat center 0;
		}
	  &.resultado2 {
		color          : #51c6d6 ;
		background: src('../images/resultados_2.png') no-repeat center 0;
	  }
	  &.resultado3 {
		color          : #7fa2d5;
		background: src('../images/resultados_3.png') no-repeat center 0;
	  }
	  &.resultado4 {
		color          : #f2738d;
		background: src('../images/resultados_4.png') no-repeat center 0;
	  }
	  &.resultado5 {
		color          : #f2738d;
		background: src('../images/resultados_5.png') no-repeat center 0;
	  }
	  &.resultado6 {
		color          : #f2738d;
		background: src('../images/resultados_6.png') no-repeat center 0;
	  }
	  &.resultado7 {
		color          : #f59656;
		background: src('../images/resultados_7.png') no-repeat center 0;
	  }
	  &.resultado8 {
		color          : #8a88c2;
		background: src('../images/resultados_8.png') no-repeat center 0;
	  }
	  &.resultado9 {
		color          : #cecf57;
		background: src('../images/resultados_9.png') no-repeat center 0;
	  }  
    }
  }

  .carousel-items {
    @include position(relative);

    .item-content {
      display: none;
      white-space : normal;

      &.is-active {
        display: block;
      }

      &.fadeInRight, &.fadeInLeft {
        position : absolute;
        top      : 0;
      }
    }
  }
}