$gray: #999;
$blue: #66C;

.carousel-nav {
  @include margin(0);
  @include position(relative);

  .carousel-arrows {
    @include position(absolute, 0 0 null null);
    @include size(100% null);

    a {
      line-height: 1em;

      &.pull-left {
        @include margin(null null null -10px);
      }
      &.pull-right {
        @include margin(null -10px null null);
      }
    }
  }

  .slider {
    @include clearfix;
    @include position(relative);
    @include transition(all 1.0s ease-in-out);

    width: 2000em;
    margin: 0 6px 10px;
    font-size: 18px;
  }

  .carousel-list,
  .carousel-items {
    white-space : nowrap;
    width       : 100%;
  }
  .carousel-list {
    overflow: hidden;
  }

  .carousel-list {
    a {
      @include margin(null 10px null null);

       
      color         : $gray;
      float         : left;
      font-size     : modular-scale(-1);
      padding: 0px 18px;
      opacity: .6;

      &.is-active {
        border-bottom : 2px solid;
        color         : $blue;
        opacity: 1;
      }

      &:last-child {
        @include margin(0);
      }
      span{
        position:absolute;
        display:none;
        z-index: 99999;
        background:#FFF;
        padding:2px 3px;
      }
    }
  }

  .carousel-items {
    @include position(relative);

    .item-content {
      display: none;
      white-space : normal;

      &.is-active {
        display: block;
      }

      &.fadeInRight, &.fadeInLeft {
        position : absolute;
        top      : 0;
      }
    }
  }
}