form {
  fieldset {
    .two-columns {
      @include span-columns(12);
    }

    .one-column {
      @include span-columns(2);
      @include pad;

      font-size: modular-scale(-1);

      label {
        font-weight: 400;
      }

      &.header {
        padding: 0;
        text-align: center;
      }
      &.gray {
        background: #e0e0e0;
      }
      &:nth-child(6n+2) {
        @include omega;
      }
    }
  }
  .field {
    input {
      border-radius : 1px;
      box-shadow    : none;
    }

    &.checkbox {
      @include margin(null null 10px);

      label {
        display: inline;
      }
      input[type="checkbox"] {
        @include margin(null 0 null 10px);

        vertical-align: middle;
      }
    }

    &.delete {
      @include position(absolute, 0 0 null null);
      @include padding(5px 10px);

      background   : #FFF;
      border       : 1px solid #e6e6e6;
      border-width : 0 0 1px 1px;
      font-size    : 0.9em;

      label {
        display: inline;
      }
      input[type="checkbox"] {
        @include margin(null 0 null 5px);

        vertical-align: middle;
      }
    }
  }

  .number-field {
    display: inline;
    width: 72px;
    padding: 5px;
  }

  input[type=submit].big-submit {
    @include padding(12px 40px);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    color       : #666;
    font-weight : 400;

    &:hover {
      color: #000;
    }
  }

  .actions {
    @include margin(20px null null);
    @include padding(10px null null);

    border-top: 1px solid #ccc;
  }

  .parent-block {
    .child {
      @include padding(10px 10px 10px 20px);
      border: 1px solid #CCC;
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px solid #CCC;
      }
    }
  }

  .switch-text {
    @include clearfix;

    .label-switch {
      @include margin(0);
      @include transform(scale(0.75));

      float: left;
      .checkbox {
        display: inline-block;
      }
    }
    .text-switch {
      display : inline;
      float   : left;
      width   : 90%;
    }
  }

  .reference_value {
    font-size: modular-scale(-1);
  }

  .expected-result-field {

    &.green {
      border-color: #30BF16;
      box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(48, 191, 22, 0.7);
      outline: none;
    }

    &.red {
      border-color: #DC1A1A;
      box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(220, 26, 26, 0.7);
      outline: none;
    }
  }
}
.froala-wrapper + div {
  display: none;
}

.cancel-button {
  margin: 0 5px;
}

table.custom-head {
  thead {
    tr {
      th {
        vertical-align: bottom;
        text-align: center;

        label {
          text-align: center;
          float: none;
          margin: 0;
        }
      }
    }
  }
}

.pdsi-result-table {
  font-size: modular-scale(-1);

  &.specific {
    tr td {
      background: #F9FBDC;
      font-weight: bold;
    }
  }

  thead th, tbody td {
    @include padding(0.45em 0.7em);

    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}
.result-strategy-select {
  select {
    width: 100%;
  }
}
.resultado-aplicavel {
  @include margin(-20px null 10px);

  float: right;

  .button-group {
    float: right;
    margin-left: 10px;

    label {
      .button-group-item {
        @include padding(0.16em 0.5em);
      }
    }
  }
}

#destinos-form {
  label {
    float: none;
  }
}

label.checkbox {
  float: none;
  margin: 0;

  input[type="radio"] {
    @include margin(0 null);

    vertical-align: middle;
  }

  .description {
    font-size: modular-scale(-1);
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
  }
}

.how-to-use {
  margin-left: 15px;
  li {
    list-style-type: disc;
    font-size: modular-scale(-1);
    color: #FB4F4F;
  }
}