// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-spacing  : 1.5em !default;
$alert-color   : #fff6bf !default;
$error-color   : #fbe3e4 !default;
$notice-color  : #e5edf8 !default;
$success-color : #e6efc2 !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

.inline_elements{
  select{
    display : inline;
  }
}

body{
  margin      : 0;
  padding     : 0;
  background  : #f6f6f6;
  font-family : 'Open Sans', sans-serif;
}

.pace .pace-activity {
  z-index: 9998!important;
}

#select_dsei_menu{
  padding: 3px;
  float: right;
  font-size: .8em;

  select{
    display     : inline;
    margin:4px 10px;
  }
}

.container{
  @include outer-container;
}

.content{
  @include span-columns(12);
}

.hidden { display: none; }

span.white_color{
  color : white;
}

.cost_user_container{
  @include outer-container;

  .value_2015, .value_2016{
    @include span-columns(5.5);
  }

  .value{
    @include span-columns(12);
  }
}

.button{
  @include button;
  @include padding(2px 12px);


  background  : transparent;
  border      : 1px solid #CCC;
  box-shadow  : none;
  color       : #666;
  font-size   : modular-scale(-1);
  font-weight : 400;
  text-shadow : none;

  &:not(.disabled) {
    &:hover, &:active, &:focus {
      background   : #f6f6f6;
      border-color : #000;
      box-shadow   : none;
      color        : #000;
    }
  }

  i.fa {
    margin-right:  5px;
  }

  &.btn-sm {
    font-size: modular-scale(-1);
  }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.flash-alert i.fa, .flash-error i.fa, .flash-notice i.fa, .flash-success i.fa {
  display:none;
}

.flash-alert, .flash-error, .flash-notice, .flash-success {
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  -o-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
  margin: 0 0 6px;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0;
  padding: 15px 15px 15px 50px;
  width: 300px;

  position: fixed;
  z-index: 9999;
  right:25px;
  top:15px;
  -webkit-animation: fadeOut 4s;
  animation: fadeOut 4s;
  opacity: 0;
}

.flash-alert {
  @include flash($alert-color);

}

.flash-error {
  @include flash($error-color);

}

.flash-notice {
  @include flash($notice-color);

}

.flash-success {
  @include flash($success-color);

}

button#menu-button{
  @include border-top-radius(50%);
  @include border-right-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);

  font-size    : 22px;
  margin-right : 10px;
  padding      : 10px;
}

.field_with_errors{

  input{
    background-color : $error-color;
  }
}

.text-centered {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.right-align{
  text-align : right;
}

.edit-section{
  .my-text{
    @include span-columns(6);
  }

  .sample-text{
    @include span-columns(6);
    @include omega();
  }
}

// Cocoon nested forms
.nested-form {
  .destroy {
    text-align : center;
    width      : 7%;
  }
}

.inline_field{
  @include outer-container;

  label.inline_pt_fluency{
    @include span-columns(3);
  }

  .inline_line{
    @include outer-container;

    .value{
      @include span-columns(2);
    }
  }
}

.vertical-tab-content-container{
  height: none !important;
}

.simple-list {
  @include margin(null null 10px null);
  @include padding(10px);

  border: 1px solid #CCC;
  border-width: 1px 0;
  font-size: .9em;
}

// Page contents
.page-content {
  @include margin(2em null);
  @include padding(1em 3em);

  background    : #FFF;
  border-radius : 2px;
  box-shadow    : 1px 1px 5px -1px rgba(0, 0, 0, .3);

  .page-title {
    @include padding(null null 15px);

    border-bottom: 1px solid #CCC;

    .fa {
      @include margin(null 2px null -35px);

      font-size: 2em;
    }
    strong {
      @include padding(2px 5px);

      border         : 1px solid #ccc;
      border-radius  : 3px;
      display        : inline-block;
      font-weight    : 400;
      vertical-align : 6px;
    }
  }

  .accordion .accordion-content .edit-link {
    @include position(absolute, 10px 10px null null);
  }
}

.menu_estrutura {
    padding: 1em;
	ul{
		list-style:none;

    li:first-child{
      display:none;
    }
		.child  {

      a {
        list-style: none;
        width: 33%;
        margin: 0;
        min-height: 150px;
        line-height: 1.4em;
        font-size: 1.2em;
        display: inline-table;
        padding-right: 15%;
        padding-left: 1%;
        font-weight: lighter;
        padding-top: 13px;

      &:hover {
        background-color: rgba(77,116,205,.75);
        color: #FFF;
        }

      &:first-child, &:nth-child(2), &:nth-child(4), &:nth-child(5){
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
        }
      &:nth-child(3), &:nth-child(6) {
        border-bottom:1px solid #ccc;
        }
      &:nth-child(7){
        border-right:1px solid #ccc;
        }
      span:before {
        content: "\a ";
        white-space: pre;
        }
      }

		}
		li a{
			display:block;
			padding: 0.2em;
		}
	}
}
.sliding-menu-content {
  @include transform(translateX(-400px));
  background-color: #E6E7E9;
  width: auto;
  min-width: 250px;
  li {
    a {

      border-color : #CCC;
      color        : #4E4E4E;
      font-family  : 'Roboto', sans-serif;
      font-size    : 1.2em;
      font-weight  : 100;

      &:hover {
        background-color: #9F9F9F;
        color: #FFF;
      }
    }

    &.child {
      font-size: .9em;
      a {
        font-size : 1.1em;
        padding   : 0.5em 1.5em 0.5em 50px;

        &.is-active {
          background-color: #9F9F9F;
          color: #FFF;
        }
      }
    }
  }
}

tr.table_result_infos{
  display           : none;

  td{
    background-color  : #fff;
    padding           : 10px;
  }
}
.user-bar {
    color: #FFF;
    font-size: 12px;
    float: right;
    padding-top: 24px;
    padding-right: 16px;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.clearboth {
  clear:both;
}

.right {
  float: right;
}
