// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

body{
  margin  : 0;
  padding : 0;
}

.container{
  @include outer-container;
}

.content{
  @include span-columns(12);
}

#login-container{
  @include span-columns(6);
  @include shift(3);

  padding-top : 100px;
}

span.white_color{
  color : white;
}

.cost_user_container{
  @include outer-container;

  .value_2015, .value_2016{
    @include span-columns(5.5);
  }

  .value{
    @include span-columns(12);
  }
}

.button{
  @include button;

  i.fa {
    margin-right:  5px;
  }

  &.btn-sm {
    font-size: modular-scale(-1);
  }

  color: #fff !important;
}

@mixin flash($color) {
  background-color  : $color;
  color             : darken($color, 60%);
  display           : bock;
  margin            : 1em 0em;
  padding           : $base-spacing / 2;
  text-align        : center;

  a {
    color             : darken($color, 70%);
    text-decoration   : underline;

    &:focus,
    &:hover {
      color           : darken($color, 90%);
    }
  }

  .flash-link-close{
    float               : right;
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

button#menu-button{
  @include border-top-radius(50%);
  @include border-right-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);

  padding: 10px !important;
  font-size: 22px;
  margin-right: 10px;
}

.field_with_errors{

  input{
    background-color  : $error-color;
  }
}

.right-align{
  text-align  : right;
}

.edit-section{
  .my-text{
    @include span-columns(6);
  }

  .sample-text{
    @include span-columns(6);
    @include omega();
  }
}

// Cocoon nested forms
.nested-form {
  .destroy {
    text-align: center;
    width: 7%;
  }
}

.inline_field{
  @include outer-container;

  label.inline_pt_fluency{
    @include span-columns(3);
  }

  .inline_line{
    @include outer-container;

    .value{
      @include span-columns(2);
    }
  }
}

.vertical-tab-content-container{
  height: none !important;
}
