// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$base-spacing  : 1.5em !default;
$alert-color   : #fff6bf !default;
$error-color   : #fbe3e4 !default;
$notice-color  : #e5edf8 !default;
$success-color : #e6efc2 !default;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

.inline_elements{
  select{
    display : inline;
  }
}

body{
  margin      : 0;
  padding     : 0;
  background  : #f6f6f6;
  font-family : 'Open Sans', sans-serif;
}

#select_dsei_menu{
  padding     : 10px;

  select{
    display     : inline;
    margin-left : 10px;
  }
}

.container{
  @include outer-container;
}

.content{
  @include span-columns(12);
}

.hidden { display: none; }

span.white_color{
  color : white;
}

.cost_user_container{
  @include outer-container;

  .value_2015, .value_2016{
    @include span-columns(5.5);
  }

  .value{
    @include span-columns(12);
  }
}

.button{
  @include button;
  @include padding(2px 12px);


  background  : transparent;
  border      : 1px solid #CCC;
  box-shadow  : none;
  color       : #666;
  font-size   : modular-scale(-1);
  font-weight : 400;
  text-shadow : none;

  &:not(.disabled) {
    &:hover, &:active, &:focus {
      background   : #f6f6f6;
      border-color : #000;
      box-shadow   : none;
      color        : #000;
    }
  }

  i.fa {
    margin-right:  5px;
  }

  &.btn-sm {
    font-size: modular-scale(-1);
  }
}

.flash-alert {
  @include flash($alert-color);
}

.flash-error {
  @include flash($error-color);
}

.flash-notice {
  @include flash($notice-color);
}

.flash-success {
  @include flash($success-color);
}

button#menu-button{
  @include border-top-radius(50%);
  @include border-right-radius(50%);
  @include border-bottom-radius(50%);
  @include border-left-radius(50%);

  font-size    : 22px;
  margin-right : 10px;
  padding      : 10px;
}

.field_with_errors{

  input{
    background-color : $error-color;
  }
}

.text-centered {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.right-align{
  text-align : right;
}

.edit-section{
  .my-text{
    @include span-columns(6);
  }

  .sample-text{
    @include span-columns(6);
    @include omega();
  }
}

// Cocoon nested forms
.nested-form {
  .destroy {
    text-align : center;
    width      : 7%;
  }
}

.inline_field{
  @include outer-container;

  label.inline_pt_fluency{
    @include span-columns(3);
  }

  .inline_line{
    @include outer-container;

    .value{
      @include span-columns(2);
    }
  }
}

.vertical-tab-content-container{
  height: none !important;
}

.simple-list {
  @include margin(null null 10px null);
  @include padding(10px);

  border: 1px solid #CCC;
  border-width: 1px 0;
  font-size: .9em;
}

// Page contents
.page-content {
  @include margin(2em null);
  @include padding(1em 3em);

  background    : #FFF;
  border-radius : 2px;
  box-shadow    : 1px 1px 5px -1px rgba(0, 0, 0, .3);

  .page-title {
    @include padding(null null 15px);

    border-bottom: 1px solid #CCC;

    .fa {
      @include margin(null 2px null -35px);

      font-size: 2em;
    }
    strong {
      @include padding(2px 5px);

      border         : 1px solid #ccc;
      border-radius  : 3px;
      display        : inline-block;
      font-weight    : 400;
      vertical-align : 6px;
    }
  }

  .accordion .accordion-content .edit-link {
    @include position(absolute, 10px 10px null null);
  }
}


.sliding-menu-content {
  @include transform(translateX(-400px));
  background-color: #E6E7E9;
  width: 400px;
  li {
    a {

      border-color : #CCC;
      color        : #4E4E4E;
      font-family  : 'Roboto', sans-serif;
      font-size    : 1.6em;
      font-weight  : 300;

      &:hover {
        background-color: #9F9F9F;
        color: #FFF;
      }
    }

    &.child {
      font-size: .9em;
      a {
        font-size : 1.2em;
        padding   : 0.5em 0.5em 0.5em 50px;

        &.is-active {
          background-color: #9F9F9F;
          color: #FFF;
        }
      }
    }
  }
}