// Place all the styles related to the pdsis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.menu_inicio li {
	list-style: none;
	line-height: 1.6em;
}
.menu_inicio .child a{
	display:block;
	margin: .2em .2em .2em 50px;


}

.pointer{
  cursor:pointer;
}
.edit-section {
  @include clearfix;
  clear: right;
}
.section-title {
  border-bottom : 2px solid #999;
  color         : #666;
  font-family   : 'Roboto', sans-serif;
  font-size     : 1.3em;
  font-weight   : 500;
  line-height   : 1.5em;
}
.section-description {
  font-size: modular-scale(-1);
}

.human-resources {
  &.show {
    font-size: 0.8em;

  }

  .sede-dsei {
    $blue: #33F;
    label {
      color: $blue;
    }
    input {
      border-color: $blue;
    }
  }
}

.dotacao_orcamentaria_investimento{
  .center{
    .cell{
      @include span-columns(3);

      text-align        : center;
    }
  }

  .header{
    font-weight: bold;
  }
}

.budget-table {
  font-size: 0.7em;

  tbody, tfoot {
    tr {
      td {
        text-align: right;

        &:first-child {
          text-align: left;
        }
      }

      &.child {
        td:first-child {
          text-align: right;
        }
      }
    }
  }
  tfoot {
    tr {
      td:first-child {
        text-align: right;
      }
    }
  }

  &.investiment {
    thead {
      tr {
        th {
          text-align: center;

          &:first-child {
            width: 22%;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;

          &:first-child {
            text-align: left;
          }
        }
        &.category {
          background: #e6e6e6;

          td {
            text-transform: uppercase;
          }
        }
        &.structure {
          td:first-child {
            text-align: right;
          }
        }
      }
      tr.item {
        .toggle-structures {
          cursor: pointer;

          &:hover {
            color: #000;
            font-weight: 900;
          }
        }
      }
      tr.item + tr.structure {
        td {
          border-top: 2px solid #ccc;
        }
      }
    }
  }
}

.person-list {
  @include position(relative);
  @include padding(null null 30px null);
  @include margin(null null 30px null);

  border-bottom: 2px solid #CCC;

  .person {
    @include clearfix;
    @include padding(10px null);

    border-bottom: 1px solid #CCC;

    .name, .destroy {
      float: left;
    }
    .name {
      width: 95%;
    }
    .destroy {
      width: 5%;
    }

    select {
      margin: 0;
    }

    &:last-child {
      border: 0;
    }
  }

  .parent-cocoon {
    @include position(absolute, null 0 -30px null);
  }

  &.head {
    border: 0;
    margin: 0;
    padding: 0;
    font-weight: bold;

    .person {
      .name { width: 88%; }
      .destroy { width: 12%; }
    }
  }
}

.cocoon-link {
  @include clearfix;
  @include padding(10px null null null);

  border-top: 2px solid #CCC;

  a {
    float: right;
  }
}

fieldset.expected-result {
  background: #efefef;
  margin-bottom: 50px;

  &.odd {
    background: #FFF;
  }

  &:last-child {
    margin: 0;
  }
}

.inline-column{
  @include span-columns(6);
}

.budget_forecast_actions_container{
  position: relative
}

.budget_forecasts-actions{
  @include position(absolute, 0 null null null);

  font-size : 30px;
  // margin-bottom: 0.75em;

  .fa {
    display: block;
    cursor: pointer;
  }
  .toggle-comments {
    color: #ccc;
    font-size: 19px;
    margin-top: 0.6em;

    &:hover {
      color: #666;
    }
  }
  .unread-comment {
    color       : #F00;
    font-size   : 0.56278em;
    line-height : 1em;
    margin-top  : 7px;

    .fa {
      cursor      : auto;
      display     : inline;
      margin-left : -3px;
    }
    .date {
      font-size      : .55em;
      letter-spacing : -1px;
      margin         : -0.7em 0 0 -0.9em;
    }
  }
}

.modal {
  font-size: 1.2em;

  .modal-inner {
    border-radius : 0;
    border        : 2px solid;
    box-shadow    : 0 0 0px 5px #FFF;
  }
  .tables {
    border-radius : 0;
    border        : 0;
    margin        : 0;

    thead tr th,
    tbody tr td {
      border-left: 0;
      border-right: 0;
    }
  }

  h1 {
    border-bottom: 2px solid;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
  }
  ul {
    li {
      cursor: pointer;
      margin: 10px;

      .fa {
        vertical-align: middle;
      }

      &:hover {
        color: #666;
      }
    }

  }
  &.link-product-dsei {
    ul li:hover {
      text-decoration: underline;
    }
  }
  &.comments {
    .comments-list {
      @include margin(10px null);
      @include padding(0.5em);

      border-bottom : 2px solid;
      border-top    : 2px solid;
      max-height    : 400px;
      overflow      : auto;

      .tables {
        thead tr th {
          &:nth-child(1),
          &:nth-child(2) {
            width: 15%;
          }
        }
        .comment {
          font-size: 1em;
        }
      }
    }
    .new-comment {
      margin: 0;

      textarea {
        border-radius : 0;
        float         : left;
        height        : 70px;
        margin        : 0;
        resize        : none;
        width         : 90%;
      }
      .send-comment {
        border        : 1px solid;
        border-radius : 0;
        cursor        : pointer;
        float         : right;
        font-size     : 1em;
        margin        : 0;
        padding       : 5px 10px;
        text-align    : center;
        width         : 9%;
      }
    }
  }
}